# add your flickr api key here
API_KEY = ''
API_SECRET = ''

# for tweeting to a twitter account. 
TWEET_RESULT = false


TWITTER_KEY = ''
TWITTER_SECRET = ''

# Can set these directly if your account has authorize your "application"
TWITTER_ACCESS_TOKEN = ''
TWITTER_ACCESS_SECRET = ''