# CONFIGS FOR PLUGINS HERE

from collections import namedtuple

# PUPPY CONFIG
PuppyCommand = namedtuple('PuppyCommand', ['puppy_type',
                                           'command',
                                           'flickr_group_id',
                                           'reply_prefix'])

GENERIC = PuppyCommand('puppy', 'puppy lottery', '35034344814@N01', "Puppy lottery!")
PUG = PuppyCommand('pug', 'pug please', '57017533@N00', "Pug for you")
CORGI = PuppyCommand('corgi', 'corgi time', '42653350@N00', "OMG corgi!")
DOXY = PuppyCommand('doxy', 'hotdog', '52240151476@N01', "Dachshund time")

AVAILABLE_COMMANDS = [GENERIC, PUG, CORGI, DOXY]

PHOTOS_PER_PAGE = 20
MAX_API_CALLS = 60


# LINK LOG CONFIG
LOG_LINKS = True
LINK_LOG_FILE = 'links_in_channel.txt'
